<ng-container *ngIf="true">
  <div class="container">
  <div class="card-table">
        <div class="card-product">
            <table class="table table-responsive">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Nombre del producto</th>
                  <th>Imagen del producto</th>
                  <th>Descripción</th>
                  <th>Precio</th>
                  <th>Cantidad</th>
                  <th>Total</th>
                  <th>Acción</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of products, let i= index">
                  <td>{{i+1}}</td>
                  <td>{{item.title}}</td>
                  <td><img src ="{{item.image}}" style="width:120px;" alt= ""></td>
                  <td>{{item.description}}</td>
                  <td>{{item.price}}</td>
                  <td>{{item.quantity}}</td>
                  <td>{{item.total}}</td>
                  <td><button (click)="removeProduct(item)" ) class="btn btn-danger"><i class="fa fa-trash"></i></button></td>
                </tr>
              </tbody>
            </table>
        </div>
    </div>
  </div>
</ng-container>


<ng-container *ngIf="false">
<div class="container">
  <div class="card">
      <h4 class="card-title"> Mi carrito</h4>
  </div>
  <div class="center">
          <img src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
          <h5>Tu carro está vacío :(</h5>
          <h6>Añade productos a tu carrito y disfruta :D</h6>
          <button class="btn btn-primary">¡Quiero comprar!</button>
  </div>
</div>
</ng-container>
